[submodule "MocIPC"]
	path = MocIPC
	url = https://github.com/moculll/MocIPC.git
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "mGameAudio"]
	path = mGameAudio
	url = https://github.com/moculll/mGameAudio.git
[submodule "bmHelper/KeyMgr"]
	path = bmHelper/KeyMgr
	url = https://github.com/moculll/KeyMgr.git
